/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated
packages/mpc-native/ios/Frameworks/** filter=lfs diff=lfs merge=lfs -text
packages/mpc-native/android/libs/*.aar filter=lfs diff=lfs merge=lfs -text
